<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link href="../../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>


</head>
<body>
<div class="navbar" th:fragment="jumbotron">
    <div class="container">
        <nav class="navbar navbar-dark bg-primary">
            <a class="btn btn-default" href="#" th:href="@{'/index'}" role="button">Home</a>
            <a class="btn btn-default" href="#" th:href="@{'/login'}" role="button">Login</a>
            <a class="btn btn-default" href="#" th:href="@{'/jobpost'}" role="button">Post a job!</a>
            <a class="btn btn-default" href="#" th:href="@{'/user'}" role="button">My account</a>
            <a class="btn btn-default" href="#" th:href="@{'/myjobs'}" role="button">My jobs</a>
            <p class="lead" >Master thesis</p>
        </nav>
    </div>
</div>

</body>
</html>