 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Jobs Home</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="navbar" th:replace="fragments/jumbotron :: jumbotron">
    <div class="container">
        <p class="lead">Master thesis</p>
    </div>
</div>

<!--/*@thymesVar id="jobPosts" type="java.util.List"*/-->
<!--/*@thymesVar id="jobPost" type="com.ehrsystem.domain.JobPost"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-primary">
                <div class="container">
                    <form class="navbar-form navbar-center" method="get"
                          th:action="@{/search}">
                        <div class="form-group">
                            <input id="txtSearch" type="text" class="form-control" name="keyword">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                 </div>
                    <div class="panel-heading">
                        <h1 class="panel-title">All Jobs!</h1>
                    </div>
                <div class="col-md-1">
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(jobPosts)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Job</th>
                                <th>View</th>
                                <th sec:authorize="isAuthenticated()">Update</th>
                                <th sec:authorize="isAuthenticated()">Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>Java developer 1</td>
                                <td>
                                    <a href="#">
                                        <img title=" "
                                             th:src="@{/images/magnifying-glass-mini.png}" />
                                    </a>
                                </td>
                            </tr>
                            <tr th:remove="all">
                                <td>Java developer 2</td>
                                <td> <a href="#">
                                    <img title=" "
                                         th:src="@{/images/magnifying-glass-mini.png}" />
                                </a></td>
                            </tr>
                            <tr th:each="jobPost : ${jobPosts}">
                                <td>
                                    <a href="#" th:text="${jobPost.title}"
                                       th:href="@{'/job/' + ${jobPost.id} + '/show'}">Java Developer 3
                                    </a>
                                </td>
                                <td><a href="#" th:href="@{'/job/' + ${jobPost.id} + '/show'}">
                                    <img title=" "
                                         th:src="@{/images/magnifying-glass-mini.png}" />
                                    </a>
                                </td>
                                <td><a href="#" sec:authorize="isAuthenticated()"
                                       th:if="${jobPost.poster.username == #authentication?.principal?.username}"
                                       th:href="@{'/job/' + ${jobPost.id} + '/update'}">
                                        <img title=" "
                                             th:src="@{/images/update.png}" />
                                    </a>
                                </td>
                                <td><a href="#"
                                           sec:authorize="isAuthenticated() and !hasRole('ROLE_ADMIN')"
                                           th:if="${jobPost.poster.username == #authentication?.principal?.username}"
                                           th:href="@{'/job/' + ${jobPost.id} + '/delete'}">
                                    <img title=" "
                                         th:src="@{/images/delete.png}" />
                                    </a>
                                    <a href="#" sec:authorize="hasRole('ROLE_ADMIN')"
                                       th:href="@{'/job/' + ${jobPost.id} + '/delete'}">
                                        <img title=" "
                                             th:src="@{/images/delete.png}" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body"></div>
<div class="panel-body"></div>
<div class="container" th:replace="fragments/footer :: footer">
<p>footer</p>
</div>

</body>
</html>