<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link href="../../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../../static/js/jquery-2.1.4.min.js"
            th:src="@{/static/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/static/css/custom.css}" rel="stylesheet" media="screen"/>
    <title>Job post complete</title>
</head>
<body>
<div class="container">
    <div class="row col-md-12">
        <h2>Thank You for Your Job Post!</h2>
        <h2><a href="/index">Return to Jobs</a></h2>
    </div>
</div>

</body>
</html>